Импорт библиотек
---

In [1]:
import pandas as pd

In [2]:
import os

Чтение основного файла
---

In [3]:
df = pd.read_excel('/content/owid-energy-data.xlsx')

In [4]:
df.head()

,Географическое положение,Год наблюдения,ISO 3166-1 альфа-3 трехбуквенные коды стран,Население,"Общий реальный валовой внутренний продукт, скорректированный на инфляцию",Годовое процентное изменение в потреблении биотоплива,"Годовое изменение в потреблении биотоплива, измеряется в тераватт-часах","Потребление первичной энергии из биотоплива на душу населения, измеряется в киловатт-часах","Потребление первичной энергии из биотоплива, измеряется в тераватт-часах","Производство электроэнергии из биотоплива на душу населения, измеряется в киловатт-часах",...,Доля выработки электроэнергии за счет солнечной энергии,"Доля потребления первичной энергии, получаемой от солнца",Годовое процентное изменение потребления энергии ветра,"Годовое изменение потребления энергии ветра, измеряется в тераватт-часах","Потребление первичной энергии от ветра, измеряется в тераватт-часах","Производство электроэнергии на душу населения за счет ветра, измеряется в киловатт-часах","Производство электроэнергии с помощью ветра, измеряется в тераватт-часах","Потребление первичной энергии от ветра на душу населения, измеряется в киловатт-часах",Доля производства электроэнергии за счет ветра,"Доля потребления первичной энергии, получаемой от ветра"
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,AFG,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,AFG,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Соединение датасетов
---

In [5]:
# список дополнительных датасетов
list_of_data = []

for filename in os.listdir('/content/'):
    if filename.endswith("xlsx"):
        print(filename)
        list_of_data.append('/content/' + filename)
print(list_of_data)

human-development-index.xlsx
urban-and-rural-population.xlsx
population-and-demography.xlsx
owid-energy-data.xlsx
['/content/human-development-index.xlsx', '/content/urban-and-rural-population.xlsx', '/content/population-and-demography.xlsx', '/content/owid-energy-data.xlsx']

In [6]:
list_of_data.remove('/content/owid-energy-data.xlsx')

In [7]:
list_of_data

['/content/human-development-index.xlsx',
 '/content/urban-and-rural-population.xlsx',
 '/content/population-and-demography.xlsx']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21890 entries, 0 to 21889
Columns: 129 entries, Географическое положение to Доля потребления первичной энергии, получаемой от ветра
dtypes: float64(126), int64(1), object(2)
memory usage: 21.5+ MB

In [9]:
for dataset in list_of_data:
  new_df = pd.read_excel(dataset)
  df = df.merge(new_df, how='left', on=['Географическое положение', 'Год наблюдения'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21890 entries, 0 to 21889
Columns: 154 entries, Географическое положение to Население старше 100 лет
dtypes: float64(151), object(3)
memory usage: 25.9+ MB

In [11]:
df.head()

,Географическое положение,Год наблюдения,ISO 3166-1 альфа-3 трехбуквенные коды стран,Население_x,"Общий реальный валовой внутренний продукт, скорректированный на инфляцию",Годовое процентное изменение в потреблении биотоплива,"Годовое изменение в потреблении биотоплива, измеряется в тераватт-часах","Потребление первичной энергии из биотоплива на душу населения, измеряется в киловатт-часах","Потребление первичной энергии из биотоплива, измеряется в тераватт-часах","Производство электроэнергии из биотоплива на душу населения, измеряется в киловатт-часах",...,Население в возрасте от 15 до 19 лет,Население в возрасте от 20 до 29 лет,Население в возрасте от 30 до 39 лет,Население в возрасте от 40 до 49 лет,Население в возрасте от 50 до 59 лет,Население в возрасте от 60 до 69 лет,Население в возрасте от 70 до 79 лет,Население в возрасте от 80 до 89 лет,Население в возрасте от 90 до 99 лет,Население старше 100 лет
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,AFG,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,AFG,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.to_csv('energy_data_plus.csv') # этот набор данный пойдет в Data Lance

In [ ]:
mask = df['Год наблюдения'] > 1999

In [ ]:
df_cut = df[mask]

In [ ]:
df_cut.head()

,Географическое положение,Год наблюдения,ISO 3166-1 альфа-3 трехбуквенные коды стран,Население_x,"Общий реальный валовой внутренний продукт, скорректированный на инфляцию",Годовое процентное изменение в потреблении биотоплива,"Годовое изменение в потреблении биотоплива, измеряется в тераватт-часах","Потребление первичной энергии из биотоплива на душу населения, измеряется в киловатт-часах","Потребление первичной энергии из биотоплива, измеряется в тераватт-часах","Производство электроэнергии из биотоплива на душу населения, измеряется в киловатт-часах",...,Население в возрасте от 15 до 19 лет,Население в возрасте от 20 до 29 лет,Население в возрасте от 30 до 39 лет,Население в возрасте от 40 до 49 лет,Население в возрасте от 50 до 59 лет,Население в возрасте от 60 до 69 лет,Население в возрасте от 70 до 79 лет,Население в возрасте от 80 до 89 лет,Население в возрасте от 90 до 99 лет,Население старше 100 лет
100,Afghanistan,2000,AFG,19542986.0,1.128379e+10,NaN,NaN,NaN,NaN,0.0,...,1964708.0,3036332.0,1971689.0,1256153.0,861541.0,495073.0,202165.0,37212.0,1674.0,9.0
101,Afghanistan,2001,AFG,19688634.0,1.102127e+10,NaN,NaN,NaN,NaN,0.0,...,1978811.0,3042963.0,1992112.0,1263743.0,854291.0,494970.0,204078.0,38010.0,1721.0,10.0
102,Afghanistan,2002,AFG,21000258.0,1.880487e+10,NaN,NaN,NaN,NaN,0.0,...,2120744.0,3227457.0,2131886.0,1346252.0,899545.0,524785.0,218247.0,41164.0,1879.0,11.0
103,Afghanistan,2003,AFG,22645136.0,2.107434e+10,NaN,NaN,NaN,NaN,0.0,...,2305766.0,3461165.0,2307019.0,1451498.0,958962.0,563715.0,236002.0,45091.0,2075.0,11.0
104,Afghanistan,2004,AFG,23553554.0,2.233257e+10,NaN,NaN,NaN,NaN,0.0,...,2425646.0,3581266.0,2409322.0,1511624.0,986258.0,585104.0,246037.0,47662.0,2212.0,11.0

Смотрим только США
---

In [ ]:
mask1 = df_cut['Географическое положение'] == 'United States'

In [ ]:
df_cut_USA = df_cut[mask1]

In [ ]:
df_cut_USA.head()

,Географическое положение,Год наблюдения,ISO 3166-1 альфа-3 трехбуквенные коды стран,Население_x,"Общий реальный валовой внутренний продукт, скорректированный на инфляцию",Годовое процентное изменение в потреблении биотоплива,"Годовое изменение в потреблении биотоплива, измеряется в тераватт-часах","Потребление первичной энергии из биотоплива на душу населения, измеряется в киловатт-часах","Потребление первичной энергии из биотоплива, измеряется в тераватт-часах","Производство электроэнергии из биотоплива на душу населения, измеряется в киловатт-часах",...,Население в возрасте от 15 до 19 лет,Население в возрасте от 20 до 29 лет,Население в возрасте от 30 до 39 лет,Население в возрасте от 40 до 49 лет,Население в возрасте от 50 до 59 лет,Население в возрасте от 60 до 69 лет,Население в возрасте от 70 до 79 лет,Население в возрасте от 80 до 89 лет,Население в возрасте от 90 до 99 лет,Население старше 100 лет
20652,United States,2000,USA,282398560.0,1.297384e+13,14.606,4.716,131.032,37.003,215.051,...,20203428.0,38936810.0,43544296.0,43067164.0,30301492.0,20855506.0,16374638.0,7265489.0,1305598.0,39100.0
20653,United States,2001,USA,285470496.0,1.310047e+13,6.239,2.309,137.709,39.312,174.274,...,20381380.0,39147560.0,43290460.0,43778588.0,31722276.0,21066442.0,16498368.0,7441442.0,1341815.0,38781.0
20654,United States,2002,USA,288350240.0,1.333449e+13,19.461,7.651,162.866,46.962,186.267,...,20608240.0,39434132.0,42946364.0,44130080.0,33289272.0,21406816.0,16588943.0,7569309.0,1380659.0,39370.0
20655,United States,2003,USA,291109824.0,1.370881e+13,35.669,16.751,218.864,63.713,183.230,...,20877036.0,39811770.0,42436908.0,44671040.0,34400148.0,22007336.0,16525790.0,7820219.0,1408753.0,39886.0
20656,United States,2004,USA,293947872.0,1.422788e+13,26.232,16.713,273.609,80.427,182.141,...,21189852.0,40259944.0,41851690.0,45034696.0,35718084.0,22675220.0,16463900.0,8087803.0,1440339.0,39483.0

Получение датасета корреляций
---

In [ ]:
corr_matrix_usa = df_cut_USA.corr().round(5)

<ipython-input-47-e47c074514f2>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix_usa = df_cut_USA.corr().round(5)

In [ ]:
s = corr_matrix_usa.unstack()
so = s.sort_values()

In [ ]:
sq = pd.DataFrame()
sq['colocations'] = so.index.to_list()
sq['values'] = so.to_list()

In [ ]:
max_corr_USA = {}

In [ ]:
for i, a in zip(sq['colocations'], sq['values']):
    if (a >= 0.8 and a < 1) or (a <= -0.8 and a > -1):
      max_corr_USA[i] = a
      print(i, a)

In [ ]:
max_USA = pd.DataFrame.from_dict(max_corr_USA, orient='index')

In [ ]:
max_USA.to_excel('max_USA.xlsx')